@font-face {
  font-family: "Shadows";
  src: url("/fonts/ShadowsIntoLight-Regular.ttf") format("truetype");
}

@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-shadows: "Shadows", cursive;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: black;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
